@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap'); */

/* body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
} */

body{ font-family : 'Plus Jakarta Sans', sans-serif;}

.spinner {
   width: 56px;
   height: 56px;
   animation: spinner-c601d3 1s infinite;
   background-color: #474bff;
   border-radius: 50%;
}

@keyframes spinner-c601d3 {
   0% {
      opacity: 0;
      transform: scale(0) translateX(-300%);
   }

   50% {
      opacity: 1;
      transform: scale(1.25) translateX(0);
   }

   100% {
      opacity: 0;
      transform: scale(0) translateX(300%);
   }
}







